html, body {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.head {
    width: 100%;
    height: 156px;
    background: #999999;
}
.page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.wrap {
    padding-bottom: 227px;
}
.footer {
    height: 227px;
    margin-top: -227px;
}










/*head*/
.head_top_line {
    width: 100%;
    height: 10px;
    background-color: #EF532C;
}



.head_top {
    width: 100%;
    height: 41px;
    background-color: #FAFAFA;
}

.head_top_body {
    width: 1170px;
    height: 41px;
    margin: 0 auto;
}
.head_top_body_left {
    float: left;
    width: auto;
    height: 41px;
}
.head_top_body_left_call {
    float: left;
    width: auto;
    height: auto;
}
.head_top_body_left_call_image {
    float: left;
    width: 38px;
    height: 41px;
}
.head_top_body_left_call_text {
    float: left;
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 17px;
    color: #ABABB1;
    padding-top: 11px;
}
.head_top_body_left_call_text span {
    color: #EF532C;
}
.head_top_body_left_careers {
    float: left;
    width: auto;
    height: auto;
    margin-left: 45px;
    cursor: pointer;
}
.head_top_body_left_careers_image {
    float: left;
    width: 32px;
    height: 41px;
}
.head_top_body_left_careers_text {
    float: left;
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 17px;
    color: #ABABB1;
    text-transform: uppercase;
    padding-top: 10px;
}

.head_top_body_right {
    float: right;
    width: auto;
    height: 41px;
}
.head_top_body_right_search {
    float: right;
    width: auto;
    height: auto;
    cursor: pointer;
}
.head_top_body_right_search_image {
    width: 46px;
    height: 41px;
}
.head_top_body_right_social {
    float: right;
    width: auto;
    height: auto;
    margin-right: 10px;
}
.head_top_body_right_social_in {
    float: right;
    width: 30px;
    height: 41px;
    cursor: pointer;
}
.head_top_body_right_social_gp {
    float: right;
    width: 30px;
    height: 41px;
    cursor: pointer;
}
.head_top_body_right_social_fb {
    float: right;
    width: 30px;
    height: 41px;
    cursor: pointer;
}



.head_middle_line {
    width: 100%;
    height: 1px;
    background-color: #EDEDED;
}



.head_bottom {
    width: 100%;
    height: 104px;
    background-color: #FFFFFF;
}

.head_bottom_body {
    width: 1170px;
    height: 104px;
    margin: 0 auto;
}

.head_bottom_body_left {
    float: left;
    width: 265px;
    height: 104px;
}
.head_bottom_body_left_logo {
    width: 245px;
    height: 80px;
    margin-left: 8px;
    margin-top: 9px;
}

.head_bottom_body_right {
    float: right;
    width: auto;
    height: 104px;
}
.head_bottom_body_right_menu {
    width: auto;
    height: auto;
}
.head_bottom_body_right_menu_item {
    float: left;
    width: auto;
    height: auto;
    margin-left: 11px;
}
.head_bottom_body_right_menu_item_link {
    display: table;
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 700;
    font-size: 15px;
    color: #7F7F7F;
    text-transform: uppercase;
    margin-top: 43px;
    cursor: pointer;
}
.head_bottom_body_right_menu_item_link a {
    text-decoration: none;
    color: #7F7F7F;
}
.head_bottom_body_right_menu_item_link a:hover {
    text-decoration: none;
    color: #191919;
}
.head_bottom_body_right_menu_item_arrow {
    width: auto;
    height: auto;
    margin-top: -6px;
}
.head_bottom_body_right_menu_item_arrow_image {
    width: 7px;
    height: 8px;
    margin: 0 auto;
}
.head_bottom_body_right_menu_item_line {
    width: auto;
    height: 2px;
    background-color: #EF532C;
    margin-top: 39px;
}









/*face*/
.face {
    width: 100%;
    height: 447px;
    background-color: #DBE9E9;
    background: url(images/face/face_slider_image_1.png) center top no-repeat;
}

.face_line {
    width: 100%;
    height: 4px;
    background-color: #EF532C;
}

.face_body_slider {
    position: relative;
    width: 100%;
    height: 439px;
}
.face_body_slider_items {
    position: relative;
    width: auto;
    height: auto;
}
.face_body_slider_item {
    position: relative;
    width: 100%;
    height: 439px;
}
.face_body_slider_item_body {
    position: absolute;
    width: 1170px;
    height: 439px;
    left: 50%;
    top: 0px;
    margin-left: -585px;
}
.face_body_slider_item_body_title {
    width: auto;
    height: auto;
    margin-top: 92px;
}
.face_body_slider_item_body_title_text {
    display: table;
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 37px;
    color: #4B8D97;
    padding-bottom: 1px;
    border-bottom: 5px solid #4B8D97;
}
.face_body_slider_item_body_description {
    width: 443px;
    height: 121px;
    background-color: #EF532C;
    margin-top: 23px;
}
.face_body_slider_item_body_description_text {
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 12px;
    padding-right: 15px;
}
.face_body_slider_item_body_button {
    width: 202px;
    height: 41px;
    background: url(images/face/face_slider_button_back_normal.png) left top repeat-x;
    margin-top: 23px;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-box-shadow: 0 0 3px #999999;
    -webkit-box-shadow: 0 0 3px #999999;
    box-shadow: 0 0 3px #999999;
}
.face_body_slider_item_body_button:hover {
    background: url(images/face/face_slider_button_back_hover.png) left top repeat-x;
}
.face_body_slider_item_body_button_text {
    width: 202px;
    height: auto;
    text-align: center;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 16px;
    color: #F7F7F7;
    padding-top: 10px;
}

.face_body_slider_info {
    position: absolute;
    width: 81px;
    height: 39px;
    left: 50%;
    top: 404px;
    margin-left: -40px;
}
.face_body_slider_info_dots {
    width: 81px;
    height: 9px;
    padding-left: 7px;
}
.face_body_slider_info_dots_dot {
    float: left;
    width: 9px;
    height: 9px;
}
.face_body_slider_info_dots_dot_spacer {
    float: left;
    width: 20px;
    height: 9px;
}
.face_body_slider_info_arrow {
    position: relative;
    width: 81px;
    height: 30px;
}
.face_body_slider_info_arrow_image {
    position: absolute;
    width: 23px;
    height: 12px;
    left: 29px;
    top: 14px;
}

.face_body_slider_left {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 197px;
    margin-left: -659px;
    display: none;
}
.face_body_slider_left_image {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.face_body_slider_right {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 197px;
    margin-left: 609px;
    display: none;
}
.face_body_slider_right_image {
    width: 50px;
    height: 50px;
    cursor: pointer;
}










/*content*/
.content {
    width: 1170px;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}









/*footer*/
.footer_line_top {
    width: 100%;
    height: 6px;
    background-color: #EF532C;
}



.footer_top {
    width: 100%;
    height: 170px;
    background-color: #373737;
}
.footer_top_body {
    width: 1170px;
    height: 170px;
    margin: 0 auto;
}

.footer_top_body_left {
    float: left;
    width: 407px;
    height: 170px;
}
.footer_top_body_left_title {
    width: 407px;
    height: 70px;
}
.footer_top_body_left_title_text {
    display: inline-block;
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 33px;
    padding-bottom: 14px;
    border-bottom: 2px solid #4C8D97;
}
.footer_top_body_left_content {
    width: 407px;
    height: 100px;
}
.footer_top_body_left_content_1 {
    float: left;
    width: 134px;
    height: auto;
    padding-top: 19px;
}
.footer_top_body_left_content_2 {
    float: left;
    width: 273px;
    height: auto;
    padding-top: 19px;
}
.footer_top_body_left_content_item {
    display: table;
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 12px;
    color: #9E9E9E;
    padding-top: 1px;
    padding-bottom: 2px;
    cursor: pointer;
}
.footer_top_body_left_content_item:hover {
    color: #EF532C;
}

.footer_top_body_middle {
    float: left;
    width: 645px;
    height: 170px;
}
.footer_top_body_middle_title {
    width: 645px;
    height: 70px;
}
.footer_top_body_middle_title_text {
    display: inline-block;
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 33px;
    padding-bottom: 14px;
    border-bottom: 2px solid #4C8D97;
}
.footer_top_body_middle_content {
    width: 645px;
    height: 100px;
}
.footer_top_body_middle_content_1 {
    float: left;
    width: 122px;
    height: auto;
    padding-top: 19px;
}
.footer_top_body_middle_content_2 {
    float: left;
    width: 115px;
    height: auto;
    padding-top: 19px;
}
.footer_top_body_middle_content_3 {
    float: left;
    width: 75px;
    height: auto;
    padding-top: 19px;
}
.footer_top_body_middle_content_4 {
    float: left;
    width: 333px;
    height: auto;
    padding-top: 19px;
}
.footer_top_body_middle_content_item {
    display: table;
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 12px;
    color: #9E9E9E;
    padding-top: 1px;
    padding-bottom: 2px;
    cursor: pointer;
}
.footer_top_body_middle_content_item:hover {
    color: #EF532C;
}

.footer_top_body_right {
    float: left;
    width: 118px;
    height: 170px;
}
.footer_top_body_right_title {
    width: 118px;
    height: 70px;
}
.footer_top_body_right_title_text {
    display: inline-block;
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 33px;
    padding-bottom: 14px;
    border-bottom: 2px solid #4C8D97;
}
.footer_top_body_right_content {
    width: 118px;
    height: 100px;
    margin-top: 37px;
}
.footer_top_body_right_content_item {
    display: table;
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 12px;
    color: #9E9E9E;
    padding-top: 1px;
    padding-bottom: 2px;
    cursor: pointer;
}
.footer_top_body_right_content_item img {
    vertical-align: middle;
}



.footer_line_bottom {
    width: 100%;
    height: 1px;
    background-color: #3F3F3F;
}



.footer_bottom {
    width: 100%;
    height: 50px;
    background-color: #272727;
}
.footer_bottom_body {
    width: 1170px;
    height: 50px;
    margin: 0 auto;
}

.footer_bottom_body_left {
    float: left;
    width: auto;
    height: auto;
}
.footer_bottom_body_left_copyright {
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 12px;
    color: #7D7D7D;
    margin-top: 17px;
    margin-left: 415px;
}
.footer_bottom_body_left_copyright a {
    text-decoration: none;
    color: #EF532C;
}

.footer_bottom_body_right {
    float: right;
    width: auto;
    height: auto;
}
.footer_bottom_body_right_created {
    width: auto;
    height: auto;
    margin-top: 12px;
    cursor: pointer;
}










/*home*/
.home {
    width: auto;
    height: auto;
}
.home_title {
    width: auto;
    height: auto;
    margin-bottom: 30px;
}
.home_title_text {
    display: table;
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 11px;
    border-bottom: 2px solid #4C8D97;
}

.home_row {
    width: auto;
    height: auto;
}
.home_row_tab {
    float: left;
    width: 380px;
    height: auto;
}
.home_row_tab_body {
    width: 380px;
    height: 207px;
}
.home_row_tab_body_top {
    width: 380px;
    height: 110px;
}
.home_row_tab_body_top_icon {
    float: left;
    width: 123px;
    height: 110px;
}
.home_row_tab_body_top_title {
    float: left;
    width: 257px;
    height: 110px;
}
.home_row_tab_body_top_title_text {
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 21px;
    color: #EF532C;
    margin-top: 69px;
    margin-left: 20px;
}
.home_row_tab_body_bottom {
    position: relative;
    width: 380px;
    height: 97px;
    background: url(images/home/tab_back.png) left top no-repeat;
}
.home_row_tab_body_bottom_text {
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #404040;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.home_row_tab_body_bottom_more {
    text-decoration: none;
}
.home_row_tab_body_bottom_button {
    position: absolute;
    width: auto;
    height: auto;
    left: 10px;
    top: 66px;
    background: url(images/home/tab_button_back_normal.png) left top repeat-x;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 13px;
    padding-top: 1px;
    padding-right: 13px;
    padding-bottom: 9px;
    cursor: pointer;
}
.home_row_tab_body_bottom_button:hover {
    background: url(images/home/tab_button_back_hover.png) left top repeat-x;
}

.home_cloud {
    width: 1170px;
    height: 186px;
    background: url(images/home/tab_cloud_back.png) left top no-repeat;
    margin-top: 30px;
    margin-bottom: 14px;
}
.home_cloud_left {
    float: left;
    width: 408px;
    height: 186px;
}
.home_cloud_left_image {
    width: 200px;
    height: 164px;
    margin-left: 200px;
    margin-top: 20px;
}
.home_cloud_right {
    float: left;
    width: 762px;
    height: 186px;
}
.home_cloud_right_title {
    width: auto;
    height: auto;
    margin-top: 16px;
}
.home_cloud_right_title_text {
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 21px;
    color: #EF532C;
}
.home_cloud_right_description {
    width: auto;
    height: auto;
    margin-top: 8px;
}
.home_cloud_right_description_text {
    width: 560px;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #404040;
}
.home_cloud_right_link {
    width: auto;
    height: auto;
    margin-top: 10px;
}
.home_cloud_right_link a {
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 12px;
    color: #4B8C96;
    text-decoration: none;
}
.home_cloud_right_link a:hover {
    color: #EF532C;
    text-decoration: none;
}
.home_cloud_right_more {
    display: table;
    width: auto;
    height: auto;
    margin-top: 10px;
}
.home_cloud_right_more a {
    text-decoration: none;
}
.home_cloud_right_button {
    width: auto;
    height: auto;
    background: url(images/home/tab_button_back_normal.png) left top repeat-x;
    font-family: 'Ubuntu', Arial;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 13px;
    padding-top: 1px;
    padding-right: 13px;
    padding-bottom: 9px;
    cursor: pointer;
}
.home_cloud_right_button:hover {
    background: url(images/home/tab_button_back_hover.png) left top repeat-x;
}

.home_row_spacer {
    float: left;
    width: 15px;
    height: 18px;
}

.home_row_padder {
    width: 100%;
    height: 20px;
}










/*clients*/
.clients {
    width: 100%;
    height: 115px;
}
.clients_line {
    width: 100%;
    height: 1px;
    background-color: #EDEDED;
}
.clients_body {
    width: 100%;
    height: 114px;
    background-color: #FCFCFC;
}
.clients_body_content {
    position: relative;
    width: 1170px;
    height: 115px;
    margin: 0 auto;
}
.clients_body_content_title {
    float: left;
    width: 165px;
    height: 114px;
}
.clients_body_content_title_text {
    width: auto;
    height: auto;
    font-family: 'Ubuntu', Arial;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: 10px;
}
.clients_body_content_separator {
    float: left;
    width: 1px;
    height: 114px;
}
.clients_body_content_separator_line {
    width: 1px;
    height: 61px;
    background-color: #4C8D97;
    margin-top: 30px;
}
.clients_body_content_items {
    position: relative;
    overflow: hidden;
    width: 1006px;
    height: 114px;
}
.clients_body_content_items_item {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 114px;
    margin-right: 1px;
}
.clients_body_content_items_item_image {
    width: 250px;
    height: 114px;
}

.clients_body_content_left_fade {
    position: absolute;
    width: 30px;
    height: 114px;
    left: 166px;
    top: 0px;
}
.clients_body_content_right_fade {
    position: absolute;
    width: 30px;
    height: 114px;
    left: 1142px;
    top: 0px;
}










.cleaner {
    clear: both;
}