html, body {
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.head {
	width: 100%;
	height: 156px;
	background: #999999;
}
.page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.wrap {
	padding-bottom: 227px;
}
.footer {
	height: 227px;
	margin-top: -227px;
}










/*head*/
.head_top_line {
	width: 100%;
	height: 10px;
	background-color: #EF532C;
}



.head_top {
	width: 100%;
	height: 41px;
	background-color: #FAFAFA;
}

.head_top_body {
	width: 1185px;
	height: 41px;
	margin: 0 auto;
}
.head_top_body_left {
	float: left;
	width: auto;
	height: 41px;
}
.head_top_body_left_call {
	float: left;
	width: auto;
	height: auto;
}
.head_top_body_left_call_image {
	float: left;
	width: 38px;
	height: 41px;
}
.head_top_body_left_call_text {
	float: left;
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 17px;
	color: #ABABB1;
	padding-top: 11px;
}
.head_top_body_left_call_text span {
	color: #EF532C;
}
.head_top_body_left_careers {
	float: left;
	width: auto;
	height: auto;
	margin-left: 45px;
	cursor: pointer;
}
.head_top_body_left_careers_image {
	float: left;
	width: 32px;
	height: 41px;
}
.head_top_body_left_careers_text {
	float: left;
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 17px;
	color: #ABABB1;
	text-transform: uppercase;
	padding-top: 12px;
}

.head_top_body_right {
	float: right;
	width: auto;
	height: 41px;
}
.head_top_body_right_search {
	float: right;
	width: auto;
	height: auto;
	cursor: pointer;
}
.head_top_body_right_search_image {
	width: 46px;
	height: 41px;
}
.head_top_body_right_social {
	float: right;
	width: auto;
	height: auto;
	margin-right: 10px;
}
.head_top_body_right_social_in {
	float: right;
	width: 30px;
	height: 41px;
	cursor: pointer;
}
.head_top_body_right_social_gp {
	float: right;
	width: 30px;
	height: 41px;
	cursor: pointer;
}
.head_top_body_right_social_fb {
	float: right;
	width: 30px;
	height: 41px;
	cursor: pointer;
}



.head_middle_line {
	width: 100%;
	height: 1px;
	background-color: #EDEDED;
}



.head_bottom {
	width: 100%;
	height: 104px;
	background-color: #FFFFFF;
}

.head_bottom_body {
	width: 1185px;
	height: 104px;
	margin: 0 auto;
}

.head_bottom_body_left {
	float: left;
	width: 265px;
	height: 104px;
}
.head_bottom_body_left_logo {
	width: 245px;
	height: 80px;
	margin-left: 8px;
	margin-top: 9px;
}

.head_bottom_body_right {
	float: right;
	width: auto;
	height: 104px;
}
.head_bottom_body_right_menu {
	width: auto;
	height: auto;
}
.head_bottom_body_right_menu_item {
	float: left;
	width: auto;
	height: auto;
	margin-left: 11px;
}
.head_bottom_body_right_menu_item_link {
	display: table;
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 16px;
	font-weight: bold;
	color: #7F7F7F;
	text-transform: uppercase;
	margin-top: 43px;
	cursor: pointer;
}
.head_bottom_body_right_menu_item_link a {
	text-decoration: none;
	color: #7F7F7F;
}
.head_bottom_body_right_menu_item_link a:hover {
	text-decoration: none;
	color: #191919;
}
.head_bottom_body_right_menu_item_arrow {
	width: auto;
	height: auto;
	margin-top: -6px;
}
.head_bottom_body_right_menu_item_arrow_image {
	width: 7px;
	height: 8px;
	margin: 0 auto;
}
.head_bottom_body_right_menu_item_line {
	width: auto;
	height: 2px;
	background-color: #EF532C;
	margin-top: 37px;
}









/*face*/
.face {
	width: 100%;
	height: auto;
	background-color: #DBE9E9;
}
.face_body {
	width: 1185px;
	height: 450px;
	margin: 0 auto;
	background-color: #4C8D97;
}










/*content*/
.content {
	width: 1185px;
	height: auto;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}









/*footer*/
.footer_line_top {
	width: 100%;
	height: 6px;
	background-color: #EF532C;
}



.footer_top {
	width: 100%;
	height: 170px;
	background-color: #373737;
}
.footer_top_body {
	width: 1185px;
	height: 170px;
	margin: 0 auto;
}

.footer_top_body_left {
	float: left;
	width: 407px;
	height: 170px;
}
.footer_top_body_left_title {
	width: 407px;
	height: 70px;
}
.footer_top_body_left_title_text {
	display: inline-block;
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 33px;
	padding-bottom: 14px;
	border-bottom: 2px solid #4C8D97;
}
.footer_top_body_left_content {
	width: 407px;
	height: 100px;
}
.footer_top_body_left_content_1 {
	float: left;
	width: 134px;
	height: auto;
	padding-top: 19px;
}
.footer_top_body_left_content_2 {
	float: left;
	width: 273px;
	height: auto;
	padding-top: 19px;
}
.footer_top_body_left_content_item {
	display: table;
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 12px;
	color: #9E9E9E;
	padding-top: 1px;
	padding-bottom: 2px;
	cursor: pointer;
}
.footer_top_body_left_content_item:hover {
	color: #EF532C;
}

.footer_top_body_middle {
	float: left;
	width: 660px;
	height: 170px;
}
.footer_top_body_middle_title {
	width: 660px;
	height: 70px;
}
.footer_top_body_middle_title_text {
	display: inline-block;
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 33px;
	padding-bottom: 14px;
	border-bottom: 2px solid #4C8D97;
}
.footer_top_body_middle_content {
	width: 660px;
	height: 100px;
}
.footer_top_body_middle_content_1 {
	float: left;
	width: 122px;
	height: auto;
	padding-top: 19px;
}
.footer_top_body_middle_content_2 {
	float: left;
	width: 115px;
	height: auto;
	padding-top: 19px;
}
.footer_top_body_middle_content_3 {
	float: left;
	width: 75px;
	height: auto;
	padding-top: 19px;
}
.footer_top_body_middle_content_4 {
	float: left;
	width: 348px;
	height: auto;
	padding-top: 19px;
}
.footer_top_body_middle_content_item {
	display: table;
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 12px;
	color: #9E9E9E;
	padding-top: 1px;
	padding-bottom: 2px;
	cursor: pointer;
}
.footer_top_body_middle_content_item:hover {
	color: #EF532C;
}

.footer_top_body_right {
	float: left;
	width: 118px;
	height: 170px;
}
.footer_top_body_right_title {
	width: 118px;
	height: 70px;
}
.footer_top_body_right_title_text {
	display: inline-block;
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 33px;
	padding-bottom: 14px;
	border-bottom: 2px solid #4C8D97;
}
.footer_top_body_right_content {
	width: 118px;
	height: 100px;
	margin-top: 37px;
}
.footer_top_body_right_content_item {
	display: table;
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 12px;
	color: #9E9E9E;
	padding-top: 1px;
	padding-bottom: 2px;
	cursor: pointer;
}
.footer_top_body_right_content_item img {
	vertical-align: middle;
}



.footer_line_bottom {
	width: 100%;
	height: 1px;
	background-color: #3F3F3F;
}



.footer_bottom {
	width: 100%;
	height: 50px;
	background-color: #272727;
}
.footer_bottom_body {
	width: 1185px;
	height: 50px;
	margin: 0 auto;
}

.footer_bottom_body_left {
	float: left;
	width: auto;
	height: auto;
}
.footer_bottom_body_left_copyright {
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 12px;
	color: #7D7D7D;
	margin-top: 17px;
	margin-left: 415px;
}
.footer_bottom_body_left_copyright a {
	text-decoration: none;
	color: #EF532C;
}

.footer_bottom_body_right {
	float: right;
	width: auto;
	height: auto;
}
.footer_bottom_body_right_created {
	width: auto;
	height: auto;
	margin-top: 12px;
	cursor: pointer;
}










/*home*/
.home {
	width: auto;
	height: auto;
}
.home_title {
	width: auto;
	height: auto;
	margin-bottom: 30px;
}
.home_title_text {
	display: table;
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	padding-bottom: 11px;
	border-bottom: 2px solid #4C8D97;
}

.home_row {
	width: auto;
	height: auto;
}
.home_row_tab {
	float: left;
	width: 380px;
	height: auto;
}
.home_row_tab_body {
	width: 380px;
	height: 207px;
}
.home_row_tab_body_top {
	width: 380px;
	height: 110px;
}
.home_row_tab_body_top_icon {
	float: left;
	width: 123px;
	height: 110px;
}
.home_row_tab_body_top_title {
	float: left;
	width: 257px;
	height: 110px;
}
.home_row_tab_body_top_title_text {
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 21px;
	color: #EF532C;
	margin-top: 69px;
	margin-left: 20px;
}
.home_row_tab_body_bottom {
	position: relative;
	width: 380px;
	height: 97px;
	background: url(/images/home/tab_back.png) left top no-repeat;
}
.home_row_tab_body_bottom_text {
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 12px;
	color: #404040;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.home_row_tab_body_bottom_more {
	text-decoration: none;
}
.home_row_tab_body_bottom_button {
	position: absolute;
	width: auto;
	height: auto;
	left: 10px;
	top: 66px;
	background: url(/images/home/tab_button_back_normal.png) left top repeat-x;
	font-family: "Myriad Pro", Arial;
	font-size: 12px;
	color: #FFFFFF;
	padding-left: 13px;
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 9px;
	cursor: pointer;
}
.home_row_tab_body_bottom_button:hover {
	background: url(/images/home/tab_button_back_hover.png) left top repeat-x;
}

.home_cloud {
	width: 1185px;
	height: 186px;
	background: url(/images/home/tab_cloud_back.png) left top no-repeat;
	margin-top: 30px;
}
.home_cloud_left {
	float: left;
	width: 408px;
	height: 186px;
}
.home_cloud_left_image {
	width: 200px;
	height: 164px;
	margin-left: 200px;
	margin-top: 20px;
}
.home_cloud_right {
	float: left;
	width: 777px;
	height: 186px;
}
.home_cloud_right_title {
	width: auto;
	height: auto;
	margin-top: 16px;
}
.home_cloud_right_title_text {
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 21px;
	color: #EF532C;
}
.home_cloud_right_description {
	width: auto;
	height: auto;
	margin-top: 8px;
}
.home_cloud_right_description_text {
	width: 560px;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 12px;
	color: #404040;
}
.home_cloud_right_link {
	width: auto;
	height: auto;
	margin-top: 10px;
}
.home_cloud_right_link a {
	width: auto;
	height: auto;
	font-family: "Myriad Pro", Arial;
	font-size: 12px;
	color: #4B8C96;
	text-decoration: none;
}
.home_cloud_right_link a:hover {
	color: #EF532C;
	text-decoration: none;
}
.home_cloud_right_more {
	display: table;
	width: auto;
	height: auto;
	margin-top: 10px;
}
.home_cloud_right_more a {
	text-decoration: none;
}
.home_cloud_right_button {
	width: auto;
	height: auto;
	background: url(/images/home/tab_button_back_normal.png) left top repeat-x;
	font-family: "Myriad Pro", Arial;
	font-size: 12px;
	color: #FFFFFF;
	padding-left: 13px;
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 9px;
	cursor: pointer;
}
.home_cloud_right_button:hover {
	background: url(/images/home/tab_button_back_hover.png) left top repeat-x;
}

.home_row_spacer {
	float: left;
	width: 22px;
	height: 18px;
}

.home_row_padder {
	width: 100%;
	height: 20px;
}










.cleaner {
	clear: both;
}